<main>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">The news</div>
                <div class="card-body" id="listedArticles">
                    {{#each dbArticle}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="{{link}}" target="_blank">{{title}}</a>
                            <p>{{summary}}</p>
                            <button value="{{_id}}" type="button" class="btn btn-warning deleteArticle">Delete</button>
                            <a href="/articles/{{_id}}">
                                <button type="button" class="btn btn-primary">Add Notes</button>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>